.footer {
  border-top: 1px solid black;
  padding: 25px;
  background-color: white;
  text-align: center;
  height: 50px;
  /* background-image: linear-gradient(45deg, #f8a50a, #ff4e50); */
  /* margin-top: 50px; */
}

.footer > p {
  padding: 5px;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
